#app {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto 1fr;
}

main {
    overflow-y: auto;
    margin-left: 150px;
    position: fixed;
    padding-top: 35px;
    padding-left: 20px;
}

sidebar {
    background-color: blue;
    width: 150px;
    height: 100%;
    padding-left: 10px;
}

body {
    margin: 0;
}

header {
    background-color: yellow;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

header > * {
    padding-inline: 0.5em;
}

header .menu-divider {
    flex: 1;
}
